html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.CodeMirror {
    border: 1px solid #eee;
}

.project-card {
    padding: 2rem;
    background: rgba(128, 128, 128, .1);
    position: relative;
    margin: 0 1rem 1rem 0;
}

.featured {
    color: #ffcc4b;
}

.label.status-deleted {
    background: rgba(200, 10, 10, .5);
}

.label.status-draft {
    background: rgba(10, 10, 200, .8);
}

.project-card {
    display: inline-block;
}

.project-card img {
    border: 2px solid transparent;
}

.project-card.status-deleted img {
    border: 2px solid rgba(200, 10, 10, .5);
}

.project-card.status-draft img {
    border: 2px solid rgba(10, 10, 200, .5);
}

.project-card img {
    background: rgba(128, 128, 128, .1);
}

.project-card h1 {
    font-size: large;
}

.authors {
    list-style: none;
    padding: 0;
}

.authors li {
    display: inline-block;
}

.author img {
    border-radius: 32px;
}

.tags {
    list-style: none;
    padding: 0;
}

.tags li {
    display: inline-block;
    padding: .5rem;
    background: #eedc43;
    border-radius: .25em;
}

.project-view .content {
    margin: 4rem 0 1rem 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid #eee;
}

.project-view .images {
    margin-top: 2rem;
}

.project-view .image a {
    display: inline-block;
    padding: 2rem;
    background: rgba(128, 128, 128, .1);
}

.project-view .image {
    position: relative;
    display: inline-block;
}

.project-view .image .delete {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 150%;
    background: #fff;
    border-radius: 10rem;
    cursor: pointer;
}

.project-view .image .delete:hover {
    color: #f00;
}

.projects-flow {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: space-around;
    align-items: flex-start;
}

.projects-flow .item {
    min-width: 25em;
    margin: 1em;
    flex: 1 0 0;
}

.pagination {
    width: 100%;
}